# Backend Server HTTP URL for internal Next.js routing/proxying
# In production, point this to the deployed backend API host.
BACKEND_URL=http://localhost:3000

# Public facing URL for the Next.js app 
# In production, point this to the deployed frontend host.
NEXT_PUBLIC_APP_URL=http://localhost:3001
